body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
}

.feu {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
  border: none;
  opacity: 0.3;
}


#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#green {
  background-color: green;
}


.hidden {
  opacity: 0.3;
}

.active {
  opacity: 1;
  box-shadow: 0 0 20px currentColor;
}
