#red{
    background-color: red;
    padding: 20px;
    margin: auto;
    border-radius: 50%;
}
#orange{
    background-color:orange;
    padding: 20px;
    margin: auto;
    border-radius: 50%;
}
#green{
    background-color:green;
    padding: 20px;
    margin: auto;
    border-radius: 50%;
}
.hidden{
    display: none;
}