#horloge {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-top: 20%;
}

.hidden {
  display: none;
}

#messageAlarme {
  margin-top: 20px;
  padding: 15px;
  background-color: red;
  color: white;
  font-size: 20px;
  text-align: center;
  animation: blink 1s infinite;
}

