.modale {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items:center;
  
  z-index: 1000;
  
}

.modale p {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
  color: #292f36;
}
.modale.active {
  display: flex;
}

.modale span{
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 24px;
}




  

.modale-modaleContainer{

background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%; 
  max-width: 500px;
  position: relative;
  color: #292f36;
}